.header {
  background-color: var(--heder-bg-color);
  border-bottom: 1px solid var(--border-header-color);
}

.header__container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  // outline: 2px solid red;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-right: 96px;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
  @media screen and (min-width: 768px) {
    margin-right: 87px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
  }
}

.header__logo-text {
  margin: 0;
  color: var(--logo-text-color);
}

/* menu */

.menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}

.menu__link,
.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--transition-duration-cubic);
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.menu__link {
  display: block;
  color: var(--title-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__link--current {
  position: relative;
  color: var(--accent-color);
  &:after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -2px;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

/* Contacts */

.header__contacts {
  display: none;
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 50px;
  }
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-tab {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.contacts-tab__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-tab__contact {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-tab__contact-icon {
  margin-right: 8px;
  fill: currentColor;
}

.menu-open {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-open__icon {
  transition: fill var(--transition-duration-cubic);

  .menu-open:hover & {
    fill: var(--customers-icon-hover);
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-mob-menu);
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 1;
  > .mob-menu__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__container {
  width: 100%;
  margin: 0 auto;
  // outline: 2px solid red;
}

.mob-menu__close {
  position: fixed;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  background-color: transparent;
}

.mob-menu__close-icon {
  transition: fill var(--transition-duration-cubic);

  .mob-menu__close:hover & {
    fill: var(--customers-icon-hover);
  }
}

.mob-menu__list {
  margin-bottom: 32px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.mob-menu__link--current {
  color: var(--accent-color);
}

.mob-menu__contacts {
  margin-bottom: 64px;
}

.mob-menu__tel {
  display: block;
  font-weight: 500;
  font-size: 28px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  @media screen and (min-width: 480px) {
    font-size: 34px;
    margin-bottom: 32px;
  }
}

.mob-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.mob-soc {
  display: flex;
  gap: 20px;
}

.mob-soc__item {
  position: relative;
}

.mob-soc__item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -10px;
  width: 1px;
  height: 100%;
  background-color: var(--mob-soc-strip);
}

.mob-soc__link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}
